body {
  background-color: coral;
}

form {
  display: block;
  background-color:aliceblue;
  margin: 50px;
  padding: 20px;
  width: 500px;
  justify-content: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}